@tailwind base;
@tailwind components;

.input {
  @apply rounded-lg bg-gray-100 py-3  px-5 shadow-inner focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-opacity-90;
}

.btn {
  @apply rounded-lg bg-gray-800 py-3 px-5 text-lg text-white hover:opacity-90 focus:outline-none;
}

@tailwind utilities;
